In [2]:
##blackpink 
import pandas as pd

bp = pd.read_excel (r'ins_bp.xlsx', sheet_name='2019tillnow')
print (bp)

                                               caption
0    #BLACKPINK #블랙핑크 #HOWYOULIKETHAT #DANCEPERFORM...
1    #BLACKPINK #블랙핑크 #HOWYOULIKETHAT #DANCEPERFORM...
2    #BLACKPINK #블랙핑크 #HOWYOULIKETHAT #DANCEPERFORM...
3    #BLACKPINK #블랙핑크 #DDU_DU_DDU_DU #뚜두뚜두 #MV #1_8...
4    #BLACKPINK #블랙핑크 #DDU_DU_DDU_DU #뚜두뚜두 #MV #1_8...
..                                                 ...
733  BLACKPINK 2019 WORLD TOUR with KIA [IN YOUR AR...
734  #BLACKPINK #블랙핑크 #WHISTLE #휘파람 #MV #300MILLION...
735  coachella 2019 🌴 see you there🖤💖\n.\n#BLACKPIN...
736  #광고 #BLACKPINK #블랙핑크 #BLACKPINK2019WORL...
737  #BLACKPINK #블랙핑크 #JISOO #지수 #HAPPYBIRTHDAY #20...

[738 rows x 1 columns]

In [4]:
#hashtags
bp_hashtags = bp['caption'].str.count("#")
print(bp_hashtags)

0      8
1      8
2      8
3      8
4      8
      ..
733    6
734    8
735    8
736    7
737    7
Name: caption, Length: 738, dtype: int64

In [6]:
bp_tags = pd.DataFrame(data=bp_hashtags)
bp_tags.sum()

caption    5919
dtype: int64

In [26]:
#word-lives
bp_lives1 = pd.DataFrame(data=bp['caption'].str.count("live"))
bp_lives2 = pd.DataFrame(data=bp['caption'].str.count("TOUR"))
bp_lives3 = pd.DataFrame(data=bp['caption'].str.count("tour"))
total_lives = bp_lives1.sum() + bp_lives2.sum() + bp_lives3.sum()
print(total_lives)

caption    93
dtype: int64

In [35]:
#word-teaser
bp_teaser1 = pd.DataFrame(data=bp['caption'].str.count("Teaser")) 
bp_teaser2 = pd.DataFrame(data=bp['caption'].str.count("teaser")) 
bp_teaser3 = pd.DataFrame(data=bp['caption'].str.count("TEASER"))
total_teasers = bp_teaser1.sum() + bp_teaser2.sum() + bp_teaser3.sum()

bp_teaser.sum()

caption    48
dtype: int64

In [32]:
#@
bp_at = pd.DataFrame(data=bp['caption'].str.count("@")) 
bp_at.sum()

caption    19
dtype: int64

In [33]:
##twice
tt = pd.read_excel (r'ins_twice.xlsx', sheet_name='2019tillnow')
print (tt)

                                                caption
0          다현이가 찍어줬땅💗💗\npearlygates_korea #PEARLYGATES🦋
1                                               To.ONCE
2                                                   NaN
3                          시간이 많이 지난것 같은 사진들 올리기🔥🙏🏻ㅋㅋㅋㅋ
4                                  💗생일축하해주신 모든분들 감사합니다💗
...                                                 ...
1571                                                🌙🌙🌙
1572  그리구 \n우리 멤버들 새해 첫날 서로한 약속들 이루는 그날까지, 그날 이후의 시간...
1573  🦋Happy new year🦋\n올해는 박지효로서 트와이스로서 꼭 행복한 일만 가득...
1574  메이크업 쌤이 잠깐 사진작가님으로 변해서 촬영 해주셨습니다😆예쁜 사진 찍어주셔서 감...
1575                                           🤪🍓2019🍓🤪

[1576 rows x 1 columns]

In [37]:
#word-teaser
tt_teaser1 = pd.DataFrame(data=tt['caption'].str.count("Teaser")) 
tt_teaser2 = pd.DataFrame(data=tt['caption'].str.count("teaser")) 
tt_teaser3 = pd.DataFrame(data=tt['caption'].str.count("TEASER"))
total_teasers = tt_teaser1.sum() + tt_teaser2.sum() + tt_teaser3.sum()

bp_teaser.sum()

caption    48
dtype: int64

In [39]:
#hashtags
tt_hashtags = tt['caption'].str.count("#")
tt_tags = pd.DataFrame(data=tt_hashtags)
tt_tags.sum()

caption    811.0
dtype: float64

In [40]:
#word-lives
tt_lives1 = pd.DataFrame(data=tt['caption'].str.count("live"))
tt_lives2 = pd.DataFrame(data=tt['caption'].str.count("TOUR"))
tt_lives3 = pd.DataFrame(data=tt['caption'].str.count("tour"))
total_lives = tt_lives1.sum() + tt_lives2.sum() + tt_lives3.sum()
print(total_lives)

caption    25.0
dtype: float64

In [41]:
#@
tt_at = pd.DataFrame(data=tt['caption'].str.count("@")) 
tt_at.sum()

caption    0.0
dtype: float64

In [3]:
##izone
izone = pd.read_excel (r'ins_izone.xlsx', sheet_name='2019tillnow')
izone

                                                caption
0     Eyes on me! 하나가 되는 순간 모두가 주목해.\n\n함께해온 시간동안 변함...
1     Eyes on me! 하나가 되는 순간 모두가 주목해.\n\n함께해온 시간동안 변함...
2     Eyes on me! 하나가 되는 순간 모두가 주목해.\n\n함께해온 시간동안 변함...
3     Eyes on me! 하나가 되는 순간 모두가 주목해.\n\n함께해온 시간동안 변함...
4     Eyes on me! 하나가 되는 순간 모두가 주목해.\n\n함께해온 시간동안 변함...
...                                                 ...
1020  안녕하세요 위즈원 여러분!\n2019년 첫 월요 요정 은비입니다!\n황금 돼지 해의...
1021  안녕하세요 여러분!!\n새해 복 많이 받고 계시나요!?\n일일일일일요일은 위즈원 만...
1022  하이터치 예행 연습👋\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\nハイタッチ会の予行練習👋\n...
1023  우리 위즈원!! 연휴 잘 쉬셨나요..\n저두 연휴 푹 잘 쉬었어요❤\n2019년도 ...
1024  어디선가 한 번쯤 본적 있는..!\n그 치즈 늘리는 거!!\n나두 그까짓 거 당연히...

[1025 rows x 1 columns]

In [4]:
#word-teaser
izone_teaser1 = pd.DataFrame(data=izone['caption'].str.count("Teaser")) 
izone_teaser2 = pd.DataFrame(data=izone['caption'].str.count("teaser")) 
izone_teaser3 = pd.DataFrame(data=izone['caption'].str.count("TEASER"))
total_teasers = izone_teaser1.sum() + izone_teaser2.sum() + izone_teaser3.sum()



#hashtags
izone_hashtags = izone['caption'].str.count("#")
izone_tags = pd.DataFrame(data=izone_hashtags)
izone_tags.sum()

#word-lives
izone_lives1 = pd.DataFrame(data=izone['caption'].str.count("live"))
izone_lives2 = pd.DataFrame(data=izone['caption'].str.count("TOUR"))
izone_lives3 = pd.DataFrame(data=izone['caption'].str.count("tour"))
total_lives = izone_lives1.sum() + izone_lives2.sum() + izone_lives3.sum()

#@
tt_at = pd.DataFrame(data=izone['caption'].str.count("@")) 
print(total_teasers, izone_tags.sum(),total_lives,tt_at.sum())

caption    42
dtype: int64 caption    6272
dtype: int64 caption    11
dtype: int64 caption    0
dtype: int64

In [1]:
##itzy
import pandas as pd
it = pd.read_excel (r'ins_itzy.xlsx', sheet_name='2019tillnow')
it

                                                caption
0     WANNABE A LEGEND?\n\n#ITZY #PokemonLegendsArce...
1                                                D-day🖐
2                                 산책로 눈치우고 신발 하나 안녕...ㅎ
3                                                   NaN
4                                              눈으로 말하기😎
...                                                 ...
1771  ITZY "달라달라(DALLA DALLA)" M/V 1억 돌파를 축하하며 인스타그램...
1772  ITZY "달라달라(DALLA DALLA)" M/V 1억 돌파를 축하하며 인스타그램...
1773  ITZY "달라달라(DALLA DALLA)" M/V 1억 돌파를 축하하며 인스타그램...
1774  ITZY "달라달라(DALLA DALLA)" M/V 1억 돌파를 축하하며 인스타그램...
1775  ITZY "달라달라(DALLA DALLA)" M/V 1억 돌파를 축하하며 인스타그램...

[1776 rows x 1 columns]

In [10]:
#word-teaser
teaser1 = pd.DataFrame(data=it['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=it['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=it['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = it['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=it['caption'].str.count("live"))
lives2 = pd.DataFrame(data=it['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=it['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=it['caption'].str.count("@")) 
print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    51.0
dtype: float64, hashtages: caption    3564.0
dtype: float64, lives: caption    9.0
dtype: float64

In [7]:
##nct_dream
nct = pd.read_excel (r'ins_nct.xlsx', sheet_name='2019tillnow')
nct

                                                caption
0     제 폰으로 찍었는데 살짝 올려봅니다 ㅎㅎ-인주니🦊\n\n#NCTDREAM #NCT\...
1     🏆🖤✨🖤✨🖤✨🖤🏆\n\n#NCTDREAM #NCT \n#가온차트뮤직어워즈 #Gaon...
2            🎉🏆🎉🏆🎉🏆🎉\n\n#NCTDREAM #NCT \n#서울가요대상 #최고앨범상
3          ✨🐬🐻🐶🐰🦊🐯🐹✨\n\n#NCTDREAM #NCT \n#서울가요대상 #최고앨범상
4          🏆💚💚💚💚💚💚💚🏆\n\n#NCTDREAM #NCT \n#서울가요대상 #최고앨범상
...                                                 ...
1517  ‪여러분 오늘 정말 멋지게 기자 회견 딱 하고 잘려고 했는데 취소.. 쿨럭... 아...
1518  ‪시즈니💚들~~~~ 나나 리허설 끝나구 숙소가구있어용( ˘ ³˘)♡‬ ‪#NCTDR...
1519                         칠레!! 곧 만나요! 👋\n\n#NCTDREAM
1520                                          드뎌 간당! -젠
1521  칠레 가기 30여분전!! 으어어어엉 떨려\n#오랜만에 #모찌성 #하핳 #나중에봐요\...

[1522 rows x 1 columns]

In [12]:
#word-teaser
teaser1 = pd.DataFrame(data=nct['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=nct['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=nct['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = nct['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=nct['caption'].str.count("live"))
lives2 = pd.DataFrame(data=nct['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=nct['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=nct['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    29.0
dtype: float64, hashtages: caption    7215.0
dtype: float64, lives: caption    44.0
dtype: float64, at: caption    15.0
dtype: float64

In [13]:
##straykids
kid = pd.read_excel (r'ins_straykids.xlsx', sheet_name='2019tillnow')
kid

                                                caption
0                              🦊🤍\n\n#HappyINDay #승스타그램
1     사진 겨우 찾았다 ㅋㅋㅋ\nㅅㅊ 막냉아\n#straykids #stay #🐖🐇 #사...
2                           애기 ㅅㅊ\n#straykids #lovestay
3                      생일 ㅎㅎㅎ\n#StrayKids#STAY#IN스타그램#🦊
4                      춥다 추웡 \n#StrayKids#STAY#IN스타그램#🦊
...                                                 ...
2604  MY FIRST MAMA - 진짜 잊혀지지 않는 기억들로 남았어요\n⠀⠀\n#스트레...
2605  오랜만에 맛있는 크림 파스타... 🍝❤️\nLong time no cream pas...
2606              연습실~~\n#straykids #STAY#전교복즈#IN스타그램#🦊
2607  오늘이 바로 댄디보2~~~~\n⠀⠀\n#스트레이키즈 #스테이 #댄디보2스타그램 #사...
2608  Happy New Year Stray Kids\n정말 누구보다 사랑하고 고마워요\n...

[2609 rows x 1 columns]

In [14]:
#word-teaser
teaser1 = pd.DataFrame(data=kid['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=kid['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=kid['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = kid['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=kid['caption'].str.count("live"))
lives2 = pd.DataFrame(data=kid['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=kid['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=kid['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0.0
dtype: float64, hashtages: caption    7669.0
dtype: float64, lives: caption    24.0
dtype: float64, at: caption    3.0
dtype: float64

In [15]:
##somi
somi = pd.read_excel (r'ins_somi.xlsx', sheet_name='2019tillnow')
somi

                                               caption
0                    CONVERSE converse_kr \n❤️🧡💛💚💙💜🖤🤍🤎
1    Subject. 🎀🔫\nsomsomi0309 with louisvuitton by ...
2    2022 February ✨\nellesingapore with louisvuitt...
3    아침부터 저녁까지 기분 좋은 날이구만💎🤍\nIt’s snowing in Seoul ...
4    SKI TRIP WITH FAM\n theblacklabel_official \n속...
..                                                 ...
322  .ID CARD HERE I COME 민증레고\n.📸📸📸\n.👩🏻👩🏻👩🏻\n.☀️☀...
323                   🦹🏼‍♂️ɢᴀɴɢ + ᴘʀɪɴᴄᴇss ᴢɪᴏɴ.ᴛ🧝🏻‍♀️
324  #알바천국 ~🐝💛💛 albachunkuk ✨💛💛\n광고 요즘...
325  모여따 소미 칭구들❣️관리니 우지늬 휘대휘 내가 많이 애정해ㅋㅋㅋ ɪᴛ ʜᴀs ʙᴇ...
326  ɪ ᴡᴀɴᴛ ᴛᴏ ʙᴇ ᴀʀɪᴇʟ ᴡʜᴇɴ ɪ ɢʀᴏᴡ ᴜᴘ ❤️🧜🏼‍♀️💦 전소미...

[327 rows x 1 columns]

In [16]:
#word-teaser
teaser1 = pd.DataFrame(data=somi['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=somi['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=somi['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = somi['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=somi['caption'].str.count("live"))
lives2 = pd.DataFrame(data=somi['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=somi['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=somi['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    6.0
dtype: float64, hashtages: caption    530.0
dtype: float64, lives: caption    1.0
dtype: float64, at: caption    0.0
dtype: float64

In [18]:
##enhypen
en = pd.read_excel (r'ins_en.xlsx')
en

,caption,comments_count,like_count,id
0,💋 #SUNOO,12032,1298127,17855963201670551
1,🥀 #SUNGHOON,21280,2006284,18000128053401168
2,😉 #JUNGWON,12864,1525594,17866223867660419
3,#HEESEUNG,12735,1389675,18121591669267683
4,👻 #JAY,16765,1701717,17985479446443223
...,...,...,...,...
509,#ENHYPEN #엔하이픈,549,511621,18127950469123103
510,#ENHYPEN #엔하이픈 #NI_KI #니키\n#ENroll,8162,640599,17850711941302677
511,#ENHYPEN Official Logo Trailer,5106,634769,17875880776849950
512,#ENHYPEN Official Logo Trailer,5366,597253,17848348685335294
513,#ENHYPEN Official Logo Trailer,5036,578943,17941929658391689

In [19]:
#word-teaser
teaser1 = pd.DataFrame(data=en['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=en['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=en['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = en['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=en['caption'].str.count("live"))
lives2 = pd.DataFrame(data=en['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=en['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=en['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0
dtype: int64, hashtages: caption    1765
dtype: int64, lives: caption    6
dtype: int64, at: caption    234
dtype: int64

In [20]:
##weeekly
we = pd.read_excel (r'ins_weeekly.xlsx')
we

,caption,comments_count,like_count,id
0,Weeekly New Logo Motion\n\n▶ https://youtu.be/...,52,23647,17992327366426827
1,Weeekly New Logo Motion\n\n▶ https://youtu.be/...,945,54216,17957603458606603
2,Weeekly New Logo Motion\n\n▶ https://youtu.be/...,46,25247,17928184682072315
3,[#Weeekly_VLOG📼]\n\n지한이의 짠이로그 Day off🍒 유리 전사지 ...,112,26854,17992216651400839
4,[#박소은] 행복했다🐯🖤\n\n#호랑이파워를믿어요\n\n#Weeekly #위클리\n...,158,45182,17947836823702781
...,...,...,...,...
1603,[#신지윤] 맛있는거 많이 먹었답니다^^😍😍\n#생일파티 >< !! #생일안녕\n-...,34,4719,17899675384166559
1604,#Repost etudehouseofficial\n・・・\n.\n8 Color Sh...,25,4391,17925388795015747
1605,#Repost etudehouseofficial\n・・・\n.\nVivid Colo...,17,4599,17924087677022094
1606,#Repost etudehouseofficial\n・・・\n.\nLiquid Cre...,34,4885,17922352393060125
1607,[#페이브걸즈 의 소소한 하드 털이💾]\n-\n반가운 영상을 살짝쿵 풀어봅니다😌\n...,171,6712,17925224989032615

In [21]:
#word-teaser
teaser1 = pd.DataFrame(data=we['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=we['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=we['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = we['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=we['caption'].str.count("live"))
lives2 = pd.DataFrame(data=we['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=we['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=we['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    13
dtype: int64, hashtages: caption    12066
dtype: int64, lives: caption    466
dtype: int64, at: caption    29
dtype: int64

In [22]:
##stayc
st = pd.read_excel (r'ins_stayc.xlsx')
st

,caption,comments_count,like_count,id
0,STAYC(스테이씨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,3274,227479,17929826899897800
1,STAYC(스테이씨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,3507,195108,17932596487974033
2,STAYC(스테이씨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,4081,279930,17893976366544014
3,STAYC(스테이씨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,372,101860,17910510722365843
4,STAYC(스테이씨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,6240,260022,17947237615692398
...,...,...,...,...
367,NaN,31,25240,17865814598101529
368,Prologue Film STAYC : Sieun\n\n#Sieun #시은 (20...,328,34081,17880070306853308
369,STAYC Official SNS\n\nFancafe ▶ cafe.daum.net/...,65,28797,17873107690968467
370,2020.11.12 THU \nNew Girl Group Debut\n\n#STAY...,92,29229,17881905226832462
371,STAYC Official SNS\n\nFancafe ▶ cafe.daum.net/...,313,30665,17842450265450697

In [23]:
#word-teaser
teaser1 = pd.DataFrame(data=st['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=st['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=st['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = st['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=st['caption'].str.count("live"))
lives2 = pd.DataFrame(data=st['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=st['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=st['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    21.0
dtype: float64, hashtages: caption    2342.0
dtype: float64, lives: caption    0.0
dtype: float64, at: caption    0.0
dtype: float64

In [24]:
##jessi
je = pd.read_excel (r'ins_jessi.xlsx', sheet_name='2019tillnow')
je

                                               caption
0    Might look a lil devilish… but been an angel s...
1                            lonsdale_korea x JESSI ❤️
2    THANK YOU FOR 50 MILLION VIEWS IN 3 MONTHS and...
3    I’ve always had drive in my life so PLEASE don...
4                            Love me some valentino 💚🤑
..                                                 ...
286              Hopped up outta bed.. turn my swag on
287  If at first you don't succeed,\nyou can dust i...
288                    I wanna see the stars today 🌟🌟🌟
289  Follow your heart they said. I follow the food...
290                        On a mission... Hang tight.

[291 rows x 1 columns]

In [25]:
#word-teaser
teaser1 = pd.DataFrame(data=je['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=je['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=je['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = je['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=je['caption'].str.count("live"))
lives2 = pd.DataFrame(data=je['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=je['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=je['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0
dtype: int64, hashtages: caption    230
dtype: int64, lives: caption    2
dtype: int64, at: caption    3
dtype: int64

In [26]:
##txt
t = pd.read_excel (r'ins_txt.xlsx')
t

,caption,comments_count,like_count,id
0,Credit: 「GQ MEN OF THE YEAR 2021」 Photo by Par...,3593,1051528,17950889092579788
1,Credit: 「GQ MEN OF THE YEAR 2021」 Photo by Par...,5687,984154,17924117701949727
2,Credit: 「GQ MEN OF THE YEAR 2021」 Photo by Par...,3070,1014353,17889628760453453
3,Credit: 「GQ MEN OF THE YEAR 2021」 Photo by Par...,3371,1146183,17928958876789259
4,GQ MEN OF THE YEAR 2021\n⠀\n#GQAwards2021 #투모로...,486,701656,17903144585344667
...,...,...,...,...
523,YEONJUN rec. #YEONJUNrec\n\n#투모로우바이투게더 #TXT #연...,19894,962009,17889427318294173
524,YEONJUN rec. #YEONJUNrec\n\n#투모로우바이투게더 #TXT #연...,4366,700955,18020261569065233
525,#투모로우바이투게더 공식 채널 오픈\n#TOMORROW_X_TOGETHER Offi...,7009,595007,18021831259021888
526,#투모로우바이투게더 공식 채널 오픈\n#TOMORROW_X_TOGETHER Offi...,2260,570784,17990472316155831
527,#투모로우바이투게더 공식 채널 오픈\n#TOMORROW_X_TOGETHER Offi...,5726,592532,17858107705309403

In [27]:
#word-teaser
teaser1 = pd.DataFrame(data=t['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=t['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=t['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = t['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=t['caption'].str.count("live"))
lives2 = pd.DataFrame(data=t['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=t['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=t['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0
dtype: int64, hashtages: caption    6103
dtype: int64, lives: caption    6
dtype: int64, at: caption    183
dtype: int64

In [28]:
##everglow
eg = pd.read_excel (r'ins_everglow.xlsx')
eg

,caption,comments_count,like_count,id
0,[📸Today EVERGLOW] \n\n22.01.13 <#KoreaGrandSal...,701,169243,17955411133597618
1,[📸EVERGLOW] \n\n22.01.13 <#KoreaGrandSale> \n\...,263,116876,17926857761010924
2,[📸Today EVERGLOW] \n\n22.01.13 <#KoreaGrandSal...,308,98073,17966864833513560
3,[🎉EVERGLOW DAY]\n\n2022.01.13 MIA DAY\n\nHAPPY...,133,65611,17916739127098485
4,[🎉EVERGLOW DAY]\n\n2022.01.13 MIA DAY\n\nHAPPY...,2820,201678,17951098996617921
...,...,...,...,...
1174,EVERGLOW] Crank In Film #YIREN (이런)\n#YUEHUA #...,2643,74435,17867076250322713
1175,[EVERGLOW] Crank In Film #ONDA (온다)\n#YUEHUA #...,678,49676,18011430325088262
1176,[EVERGLOW] Crank In Film #MIA (미아)\n#YUEHUA #N...,713,52326,17970625177218553
1177,[EVERGLOW] Crank In Film #SIHYEON (시현)\n#YUEHU...,1421,63845,17960442553233009
1178,[EVERGLOW] Coming Soon\n#YUEHUA #NEW_GIRL_GROU...,582,46078,18035292571052662

In [29]:
#word-teaser
teaser1 = pd.DataFrame(data=eg['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=eg['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=eg['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = eg['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=eg['caption'].str.count("live"))
lives2 = pd.DataFrame(data=eg['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=eg['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=eg['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    27.0
dtype: float64, hashtages: caption    7805.0
dtype: float64, lives: caption    45.0
dtype: float64, at: caption    0.0
dtype: float64

In [30]:
##exo
exo = pd.read_excel (r'ins_exo.xlsx', sheet_name='2019tillnow')
exo

                                                caption
0     EXO-L 새해 복 나보다 많이 받아💕🧸\n\n🎨Made by KAI\n\nhttp...
1     여유를 갖자✍🏻🐻\n\nhttps://youtu.be/NDeQyKlJhWQ\n\n#...
2     💚💌💗\n\nhttps://youtu.be/NDeQyKlJhWQ\n\n#KAIst ...
3     🥚🍳🍡👨🏻‍🍳❤️‍🔥\n\nhttps://youtu.be/NDeQyKlJhWQ\n\...
4     오세훈, 영화 <해적: 도깨비 깃발> 개봉 및 스틸컷 공개📸\n\n#오세훈 #OHS...
...                                                 ...
1404  [📽 #SUHO, #BAEKHYUN, #CHANYEOL, #SEHUN]\n춥고 건조...
1405  #HappyKAIDay 🎂🎉 ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n#190114 #EXO...
1406  #HappyDODay 🎂🎉 ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n#190112 #EXO ...
1407  어디에도 없을 완벽한 EXO가 보여준 웃음 + 재미 다 잡은 #보여줄게EXO #엑소...
1408  어디에도 없을 완벽한 EXO가 보여준 웃음 + 재미 다 잡은 #보여줄게EXO #엑소...

[1409 rows x 1 columns]

In [31]:
#word-teaser
teaser1 = pd.DataFrame(data=exo['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=exo['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=exo['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = exo['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=exo['caption'].str.count("live"))
lives2 = pd.DataFrame(data=exo['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=exo['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=exo['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    74.0
dtype: float64, hashtages: caption    10919.0
dtype: float64, lives: caption    88.0
dtype: float64, at: caption    16.0
dtype: float64

In [32]:
##gidle
gid = pd.read_excel (r'ins_gid.xlsx', sheet_name='2019tillnow')
gid

                                                caption
0     #Repost winterinkorea\n・・・\n민니의 스노우월드 그랜드 오픈⛄✨...
1     [📸] '#민니의스노우월드 ' 공개 기념 깜짝 셀카😉🎉\n\n민니가 출연한 ‘민니의...
2     [📻] 네이버 나우 '#소문의아이들' 출연 안내 \n\n잠시 후 여덟시! 오늘도 어...
3     [🎧] 미연의 애절한 보컬❣이 돋보이는 곡!\n잔잔한 피아노🎹와 서정적인 스트링의 ...
4     #Repost winterinkorea\n・・・\n민니의 스노우월드 그랜드 오픈⛄✨...
...                                                 ...
2354  [📸] 20190105 @ 제33회 골든디스크어워즈 레드카펫 비하인드\n-\n레드카...
2355  [📸] 20190105 @ 제33회 골든디스크어워즈\n-\n아이들의 디지털음원부문 ...
2356         ‪[#수진] 네버랜드~? 오랜만이죠?? 밥 잘 챙겨 먹고 있쥬? 보고싶네용‬
2357  ‪[#민니] A bit late but.. Happy New year 2019! T...
2358  [#슈화] Happy new year 🎊\n새해 복 많이 받으세요 🙏🏻\n新年快樂🎆...

[2359 rows x 1 columns]

In [33]:
#word-teaser
teaser1 = pd.DataFrame(data=gid['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=gid['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=gid['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = gid['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=gid['caption'].str.count("live"))
lives2 = pd.DataFrame(data=gid['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=gid['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=gid['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    36.0
dtype: float64, hashtages: caption    10469.0
dtype: float64, lives: caption    43.0
dtype: float64, at: caption    221.0
dtype: float64

In [34]:
##redvelvet
red = pd.read_excel (r'ins_red.xlsx', sheet_name='2019tillnow')
red

                                                caption
0     #출간알림 『더 포스터 북 by 슬기』\n\n예술적 감각으로 많은 주목을 받아 온 ...
1     #HappySEULGIDAY\n#OurBelovedSeulgiDay\n#레드벨벳 #...
2     우아~한\n영스트리트의 완디입니다💙\n\n#웬디 #WENDY #완디\n#RedVel...
3     영스트리트😘\n완디와 함께해요💙\n\n#웬디 #WENDY #완디\n#RedVelve...
4     영스트리트에 꽃이 피었어요\n💙🌼💙\n\n#웬디 #WENDY #완디\n#RedVel...
...                                                 ...
1244                                               📸sis
1245                                                 ☺️
1246  Back in 2018.\n\n우리 러비들~오랜만이죠~? :) 새해 복 많이 받아요...
1247                                   We love Reveluv✨
1248  여러분 2019년 1월 1일 어떻게 보내고 계세요~~? 모두들 새해 복 많이 받으시...

[1249 rows x 1 columns]

In [35]:
#word-teaser
teaser1 = pd.DataFrame(data=red['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=red['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=red['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = red['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=red['caption'].str.count("live"))
lives2 = pd.DataFrame(data=red['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=red['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=red['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    86.0
dtype: float64, hashtages: caption    7543.0
dtype: float64, lives: caption    13.0
dtype: float64, at: caption    18.0
dtype: float64

In [36]:
##nct127
nct127 = pd.read_excel (r'ins_nct127.xlsx', sheet_name='2019tillnow')
nct127

                                                caption
0     🎙🐰🎙\n\n#DOYOUNG #도영\n#NCT #NCT127\n#가온차트뮤직어워즈 ...
1     💚1️⃣2️⃣7️⃣💚\n\n#NCT127 #NCT \n#가온차트뮤직어워즈 #Gaon...
2         💚💚💚💚🏆💚🏆💚💚💚💚\n\n#NCT127 #NCT \n#서울가요대상 #대상 #본상
3     💙💚💙💚💙💚💙💚💙\n\n#NCT127 #NEOCITY\n#NEOCITY_THE_LI...
4     💚🍑🐯🐰🐶🌹🐱🐻🌕🍒💚\n\n#NCT127 #NCT\n#YouTubeOriginals...
...                                                 ...
2272                 🏆🌱💚#NCT127 \n#SMA2019 #서울가요대상 #NCT
2273                 🏆🌱💚#NCT127 \n#SMA2019 #서울가요대상 #NCT
2274                 🏆🌱💚#NCT127 \n#SMA2019 #서울가요대상 #NCT
2275  아육대볼링 늦게까지 응원해준 우리 시즈니 너무 고맙고 진짜 떨렸는데 큰 힘이 됐어요...
2276  ‪NCT 127 1st Tour ‬\n‪‘NEO CITY : SEOUL – The ...

[2277 rows x 1 columns]

In [2]:
import pandas as pd
##aespa
ae = pd.read_excel (r'ins_aespa.xlsx')
ae

,caption,comments_count,like_count,id
0,‪#aespa ‬#NINGNING,73125,1462835,17996480080378572
1,チョキチョキ😚\n\n‪#aespa‬ #GISELLE,10498,1274190,17928293102045895
2,新年快乐😈💕\n새해 복 많이 많이 받으세용옹~\n\n‪#aespa ‬#NINGNING,10263,1417538,17912047637204451
3,aespa ‘Next Level’ hits 200M views! \nThank yo...,3597,922860,17905650422430499
4,크아앙😛\n‪#aespa ‬#WINTER,11798,1576760,18108030613286981
...,...,...,...,...
825,aespa 에스파\n#aespa #æspa #에스파,274,255250,18141975490102432
826,aespa 에스파\n#aespa #æspa #에스파,211,254220,17889673147731576
827,aespa 에스파\n#aespa #æspa #에스파,217,250138,17844869039456748
828,aespa 에스파\n#aespa #æspa #에스파,668,263744,17844252779464474
829,aespa 에스파\n#aespa #æspa #에스파,2258,268942,17870613881037055

In [4]:
#word-teaser
teaser1 = pd.DataFrame(data=ae['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=ae['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=ae['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = ae['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=ae['caption'].str.count("live"))
lives2 = pd.DataFrame(data=ae['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=ae['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=ae['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    10
dtype: int64, hashtages: caption    4224
dtype: int64, lives: caption    6
dtype: int64, at: caption    12
dtype: int64